*{
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
html {
    width:100%;
    height: 100%;
}
body {
    width:100%;
    min-height: 100%;
}
header {
    background-image: url('../IMG/b2.jpg');
    background-size: 100% 48.3rem;
    background-repeat: no-repeat;
}
.nav {
    background: rgba(0,0,0,0.0);
}
.bar {
    margin-top: -1rem;
    padding-top: 3rem;
    margin-left: 14rem;
    width: 80rem;
}
.bar a {
    text-decoration: none;
    color: black;
}
.bar a:hover {
    text-decoration: none;
    color: green;
}
.express {
    margin-top: -1rem;
    padding-left: 2rem;
    height: 4rem;
    width: 8rem;
}
.options {
    float: right;
}
.optionl {
    display: flex;
}
.optionl li {
    margin-right: 1rem;
}
.lan {
    height: 1rem;
    width: 1rem;
}
.section1 {
}
.dropbtn {
    background: rgba(0,0,0,0.0);
    color: black;
    padding-top: 0px;
    font-size: 16px;
    border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 300px;
  border-radius: 10px;
  box-shadow: 0px 10px 18px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background: rgba(0,0,0,0.0);} 
.section1 {
    width: 100%;
}
.head1 {
    margin-top: 0px;
    font-size: 100px;
    margin-bottom: 10px;
}
.head2 {
    margin-top: 0px;
    font-size: 30px;
}
.content {
    margin-top: 0px;
}
.getsb {
    float: right;
    margin-top: -45px;
    margin-right: 16rem;
    width: 8rem;
    height: 2rem;
    font: bold;
    font-size: 1rem;
    border-radius: 30px;
    background: rgba(0,0,0,0.0);
    color: #0f866c;
    border-color: #0f866c;
}
.getsb:hover {
    float: right;
    margin-top: -45px;
    margin-right: 14rem;
    width: 8rem;
    height: 2rem;
    font: bold;
    font-size: 1rem;
    border-radius: 30px;
    background-color: yellow;
    color: black;
    border-color: yellow;
    transition: all 1s;
    cursor: pointer;
}
.geteb {
    font: bold;
    font-size: 22px;
    width: 17rem;
    height: 4rem;
    border-radius: 40px;
    background-color: #0f866c;
    color: white;
}
.geteb:hover {
    font: bold;
    font-size: 22px;
    width: 17rem;
    height: 4rem;
    border-radius: 40px;
    background-color: yellow;
    color: black;
    cursor: pointer;
    transition: all 1s;

}
.peb {
    padding-top: 2px;
}
.section2 {
    padding-top: 5rem;
    text-align: center;
}
.feature {
    text-align: center;
    padding-left: 3.5rem;
    padding-right: 1.5rem;
    padding-bottom: 10rem;
    max-width: 1200px;
    width: 100%;
    display: flex;
}
.brick {
    padding-left: 10rem;
    height: 20rem;
    width: 20rem;
}
.p h1 {
    padding-top: 1rem;
}
.p h1, p, ul{
    padding-left: 10.5rem;
    text-align: left;
}
.p input {
    margin-top: 2rem;
}
.p ul {
    display: flex;
}
.p li {
    padding-left:5px;
}
.p a {
    font-size: 20px;
    text-decoration: block;
    color: #0f866c;
}
.p a:hover {
    cursor: pointer;
    color: black;
}
.gallary {
    text-align: center;
    padding-left: 3.5rem;
    padding-right: 1.5rem;
    max-width: 1000px;
    width: 100%;
    display: flex;
}
.ga {
    height: 10rem;
    width: 20rem;
}
.gallaryp {
    padding-right: 1.5rem;
    max-width: 1200px;
    width: 100%;
    display: flex;
}
.gap {
    font-size: 1.5rem;
    display: flex;
}
.gapc {
    line-height: 2rem;
    display: flex;
}
.link {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.link a {
    font-size: 20px;
    text-decoration: block;
    color: #0f866c;
}
.link a:hover {
    cursor: pointer;
    color: black;
}
.section3 {
    text-align: center;
    background-color: #dae8e7;
}
.section3 h1 {
    font-size: 3rem;
    text-align: center;
}
.section3 a {
    font-size: 20px;
    text-decoration: block;
    color: #0f866c;
}
.section3 a:hover {
    cursor: pointer;
    color: black;
}
footer {
    background-color: #001d2f;
    color: white;
    padding-bottom: 5rem;
}
.foot {
    padding-top: 5rem;
    padding-left: 10rem;
    display: flex;
}
.foot li {
  margin: 10px 0;
}
.mde {
    font-size: 1.5rem;
}
.last {
    padding-top: 2rem;
    padding-left: 20rem;
}
.secon {
    padding-top: 7rem;
}
.secon h1 {
    font-size: 6rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
}
.secon h3 {
    text-align: left;
    padding-left: 40rem;
}
.gete {
    font: bold;
    font-size: 22px;
    width: 20rem;
    height: 4rem;
    border-radius: 40px;
    background-color: #0f866c;
    color: white;
}
.gete:hover {
    font: bold;
    font-size: 22px;
    width: 20rem;
    height: 4rem;
    border-radius: 40px;
    background-color: yellow;
    color: black;
    cursor: pointer;
    transition: all 1s;

}
.secon1 {
    padding-top: 3rem;
}
.secon1 h1 {
    font-size: 6rem;
}
.secon1 a {
    font-size: 20px;
    text-decoration: block;
    color: #0f866c;
}
.secon1 a:hover {
    cursor: pointer;
    color: black;
}
.secon1 h4 {
    text-align: left;
    padding-left: 40rem;
}
.section5 {
    background-color: #f9f8f2;
}
.section5 ul {
    text-align: left;
    padding-left: 42rem;
}
.sub {
    margin-left: -26rem;
}
footer a {
    font-size: 15px;
    text-decoration: none;
    color: white;
}
footer a:hover {
    cursor: pointer;
    color: yellow;
}
